<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>CSC4710 Demo</display-name>
  <servlet>
    <description></description>
    <display-name>UserServletRegister</display-name>
    <servlet-name>UserServletRegister</servlet-name>
    <servlet-class>user.web.servlet.UserServletRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServletRegister</servlet-name>
    <url-pattern>/UserServletRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServletLogin</display-name>
    <servlet-name>UserServletLogin</servlet-name>
    <servlet-class>user.web.servlet.UserServletLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServletLogin</servlet-name>
    <url-pattern>/UserServletLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>findAll</display-name>
    <servlet-name>findAll</servlet-name>
    <servlet-class>user.web.servlet.findAll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>findAll</servlet-name>
    <url-pattern>/findAll</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>initialize</display-name>
    <servlet-name>initialize</servlet-name>
    <servlet-class>user.web.servlet.initialize</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>initialize</servlet-name>
    <url-pattern>/initialize</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AssignReview</display-name>
    <servlet-name>AssignReview</servlet-name>
    <servlet-class>user.web.servlet.AssignReview</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignReview</servlet-name>
    <url-pattern>/AssignReview</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NoReview</display-name>
    <servlet-name>NoReview</servlet-name>
    <servlet-class>user.web.servlet.NoReview</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NoReview</servlet-name>
    <url-pattern>/NoReview</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MostReviews</display-name>
    <servlet-name>MostReviews</servlet-name>
    <servlet-class>user.web.servlet.MostReviews</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MostReviews</servlet-name>
    <url-pattern>/MostReviews</url-pattern>
  </servlet-mapping>
  <servlet>
  <description></description>
    <display-name>RejectedMattJohn</display-name>
    <servlet-name>RejectedMattJohn</servlet-name>
    <servlet-class>user.web.servlet.RejectedMattJohn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RejectedMattJohn</servlet-name>
    <url-pattern>/RejectedMattJohn</url-pattern>
  </servlet-mapping>
  <servlet>
  <description></description>
    <display-name>SearchCoauthors</display-name>
    <servlet-name>SearchCoauthors</servlet-name>
    <servlet-class>user.web.servlet.Coauthors</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchCoauthors</servlet-name>
    <url-pattern>/SearchCoauthors</url-pattern>
  </servlet-mapping>
   <servlet>
  <description></description>
    <display-name>AcceptedPapers</display-name>
    <servlet-name>AcceptedPapers</servlet-name>
    <servlet-class>user.web.servlet.AcceptedPapers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AcceptedPapers</servlet-name>
    <url-pattern>/AcceptedPapers</url-pattern>
  </servlet-mapping>
  <servlet>
  <description></description>
    <display-name>DeletePC</display-name>
    <servlet-name>DeletePC</servlet-name>
    <servlet-class>user.web.servlet.DeletePC</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePC</servlet-name>
    <url-pattern>/DeletePC</url-pattern>
  </servlet-mapping>
   <servlet>
  <description></description>
    <display-name>InsertPC</display-name>
    <servlet-name>InsertPC</servlet-name>
    <servlet-class>user.web.servlet.InsertPC</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertPC</servlet-name>
    <url-pattern>/InsertPC</url-pattern>
  </servlet-mapping>
     <servlet>
  <description></description>
    <display-name>UpdatePC</display-name>
    <servlet-name>UpdatePC</servlet-name>
    <servlet-class>user.web.servlet.UpdatePC</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePC</servlet-name>
    <url-pattern>/UpdatePC</url-pattern>
  </servlet-mapping>
       <servlet>
  <description></description>
    <display-name>UpdatePCName</display-name>
    <servlet-name>UpdatePCName</servlet-name>
    <servlet-class>user.web.servlet.UpdatePCName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePCName</servlet-name>
    <url-pattern>/UpdatePCName</url-pattern>
    </servlet-mapping>
      <servlet>
  <description></description>
    <display-name>DeletePaper</display-name>
    <servlet-name>DeletePaper</servlet-name>
    <servlet-class>user.web.servlet.DeletePaper</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePaper</servlet-name>
    <url-pattern>/DeletePaper</url-pattern>
  </servlet-mapping>
   <servlet>
  <description></description>
    <display-name>InsertPaper</display-name>
    <servlet-name>InsertPaper</servlet-name>
    <servlet-class>user.web.servlet.InsertPaper</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertPaper</servlet-name>
    <url-pattern>/InsertPaper</url-pattern>
  </servlet-mapping>
  <servlet>
  <description></description>
    <display-name>UpdatePaperTitle</display-name>
    <servlet-name>UpdatePaperTitle</servlet-name>
    <servlet-class>user.web.servlet.UpdatePaperTitle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePaperTitle</servlet-name>
    <url-pattern>/UpdatePaperTitle</url-pattern>
  </servlet-mapping>
  <servlet>
  <description></description>
    <display-name>UpdatePaperAbstract</display-name>
    <servlet-name>UpdatePaperAbstract</servlet-name>
    <servlet-class>user.web.servlet.UpdatePaperAbstract</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePaperAbstract</servlet-name>
    <url-pattern>/UpdatePaperAbstract</url-pattern>
  </servlet-mapping>
    <servlet>
  <description></description>
    <display-name>UpdatePaperPDF</display-name>
    <servlet-name>UpdatePaperPDF</servlet-name>
    <servlet-class>user.web.servlet.UpdatePaperPDF</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePaperPDF</servlet-name>
    <url-pattern>/UpdatePaperPDF</url-pattern>
  </servlet-mapping>
      <servlet>
  <description></description>
    <display-name>InsertReview</display-name>
    <servlet-name>InsertReview</servlet-name>
    <servlet-class>user.web.servlet.InsertReview</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertReview</servlet-name>
    <url-pattern>/InsertReview</url-pattern>
  </servlet-mapping>
        <servlet>
  <description></description>
    <display-name>DeleteReview</display-name>
    <servlet-name>DeleteReview</servlet-name>
    <servlet-class>user.web.servlet.DeleteReview</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteReview</servlet-name>
    <url-pattern>/DeleteReview</url-pattern>
  </servlet-mapping>
          <servlet>
  <description></description>
    <display-name>SearchSingle</display-name>
    <servlet-name>SearchSingle</servlet-name>
    <servlet-class>user.web.servlet.SearchSingle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchSingle</servlet-name>
    <url-pattern>/SearchSingle</url-pattern>
  </servlet-mapping>
     <servlet>
  <description></description>
    <display-name>SearchFirst</display-name>
    <servlet-name>SearchFirst</servlet-name>
    <servlet-class>user.web.servlet.SearchFirst</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchFirst</servlet-name>
    <url-pattern>/SearchFirst</url-pattern>
  </servlet-mapping>
  <servlet>
  <description></description>
    <display-name>InsertAuthor</display-name>
    <servlet-name>InsertAuthor</servlet-name>
    <servlet-class>user.web.servlet.InsertAuthor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertAuthor</servlet-name>
    <url-pattern>/InsertAuthor</url-pattern>
  </servlet-mapping>
  <servlet>
  <description></description>
    <display-name>DeleteAuthor</display-name>
    <servlet-name>DeleteAuthor</servlet-name>
    <servlet-class>user.web.servlet.DeleteAuthor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAuthor</servlet-name>
    <url-pattern>/DeleteAuthor</url-pattern>
  </servlet-mapping>
  <servlet>
  <description></description>
    <display-name>UpdateAuthorName</display-name>
    <servlet-name>UpdateAuthorName</servlet-name>
    <servlet-class>user.web.servlet.UpdateAuthorName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAuthorName</servlet-name>
    <url-pattern>/UpdateAuthorName</url-pattern>
  </servlet-mapping>
  <servlet>
  <description></description>
    <display-name>UpdateAuthorEmail</display-name>
    <servlet-name>UpdateAuthorEmail</servlet-name>
    <servlet-class>user.web.servlet.UpdateAuthorEmail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAuthorEmail</servlet-name>
    <url-pattern>/UpdateAuthorEmail</url-pattern>
  </servlet-mapping>
   <servlet>
  <description></description>
    <display-name>UpdateAuthorAffiliation</display-name>
    <servlet-name>UpdateAuthorAffiliation</servlet-name>
    <servlet-class>user.web.servlet.UpdateAuthorAffiliation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAuthorAffiliation</servlet-name>
    <url-pattern>/UpdateAuthorAffiliation</url-pattern>
  </servlet-mapping>
  <servlet>
  <description></description>
    <display-name>InsertAuthorToPaper</display-name>
    <servlet-name>InsertAuthorToPaper</servlet-name>
    <servlet-class>user.web.servlet.InsertAuthorToPaper</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertAuthorToPaper</servlet-name>
    <url-pattern>/InsertAuthorToPaper</url-pattern>
  </servlet-mapping>
  <servlet>
  <description></description>
    <display-name>UpdateAuthorContNum</display-name>
    <servlet-name>UpdateAuthorContNum</servlet-name>
    <servlet-class>user.web.servlet.UpdateAuthorContNum</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAuthorContNum</servlet-name>
    <url-pattern>/UpdateAuthorContNum</url-pattern>
  </servlet-mapping>
  <servlet>
  <description></description>
    <display-name>DeleteAuthorFromPaper</display-name>
    <servlet-name>DeleteAuthorFromPaper</servlet-name>
    <servlet-class>user.web.servlet.DeleteAuthorFromPaper</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAuthorFromPaper</servlet-name>
    <url-pattern>/DeleteAuthorFromPaper</url-pattern>
  </servlet-mapping>
    <servlet>
  <description></description>
    <display-name>UpdateReview</display-name>
    <servlet-name>UpdateReview</servlet-name>
    <servlet-class>user.web.servlet.UpdateReview</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateReview</servlet-name>
    <url-pattern>/UpdateReview</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>